VITE_FIREBASE_API_KEY=AIzaSyC0eg29GmVYPbiZhcKeCIUExGKKxy-ScYI
VITE_FIREBASE_AUTH_DOMAIN=facture-app-16fc1.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=facture-app-16fc1
VITE_FIREBASE_STORAGE_BUCKET=facture-app-16fc1.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=187446502095
VITE_FIREBASE_APP_ID=1:187446502095:web:78ffcdfd390a3fd0278dba
VITE_FEEXPAY_TOKEN=fp_9kfQYVtYg6h55UdBqjRWNat9IGqSwxa7Jp9dFuMhlMk4w8xGKlaI97RxavkaDfcX
VITE_FEEXPAY_SHOP_ID=66cfb506cca8eee12a9efc33
VITE_OPENAI_API_KEY=your_openai_key
VITE_CLAUDE_API_KEY=your_claude_key
VITE_APP_URL=https://factureapp.vercel.app